# Authors Recommendation System

**- Big Data, Innopolis University (Fall semester 2021)**

**- Name** : Mohamed Gamal Elbayoumi
**- Email** : m.elbayoumi@innopolis.university

In [15]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
# Import Libraries
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [127]:
path_dir = "/content/drive/MyDrive/Authors_Dataset.csv"

dataframe = movies = pd.read_csv(path_dir)

In [128]:
dataframe.head()

                                             Authors  ...                                     Index Keywords
0                                          Boby R.A.  ...  Computer vision; End effectors; Errors; Indust...
1  Ayyub M., Oracevic A., Hussain R., Khan A.A., ...  ...  Application programs; Biomimetics; Cluster ana...
2      Dlamini G., Jolha F., Kholmatova Z., Succi G.  ...  Embedded systems; Energy utilization; Mobile c...
3        Briskin E.S., Platonov V.ﾑク., Smirnaya L.D.  ...                                                NaN
4        Bordyugov D.V., Briskin E.S., Sharonov N.G.  ...                                                NaN

[5 rows x 6 columns]

In [129]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 871 entries, 0 to 870
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Authors          871 non-null    object
 1   Author(s) ID     871 non-null    object
 2   Title            871 non-null    object
 3   Link             871 non-null    object
 4   Author Keywords  677 non-null    object
 5   Index Keywords   756 non-null    object
dtypes: object(6)
memory usage: 41.0+ KB

In [130]:
dataframe = dataframe.drop(['Title', 'Link'], axis= 1)

In [131]:
dataframe.head()

                                             Authors  ...                                     Index Keywords
0                                          Boby R.A.  ...  Computer vision; End effectors; Errors; Indust...
1  Ayyub M., Oracevic A., Hussain R., Khan A.A., ...  ...  Application programs; Biomimetics; Cluster ana...
2      Dlamini G., Jolha F., Kholmatova Z., Succi G.  ...  Embedded systems; Energy utilization; Mobile c...
3        Briskin E.S., Platonov V.ﾑク., Smirnaya L.D.  ...                                                NaN
4        Bordyugov D.V., Briskin E.S., Sharonov N.G.  ...                                                NaN

[5 rows x 4 columns]

In [132]:
dataframe['keys'] = dataframe['Author Keywords'].astype(str)+dataframe['Index Keywords'].astype(str)

In [133]:
dataframe = dataframe.drop(['Author Keywords', 'Index Keywords'], axis=1)

In [134]:
dataframe['Authors']= dataframe['Authors'].apply(lambda x : pd.Series(x.split(',')))
dataframe['Author(s) ID']= dataframe['Author(s) ID'].apply(lambda x : pd.Series(x.split(';')))

In [135]:
dataframe['keys'] = dataframe['keys'].str.split(';')

In [136]:
dataframe.head()

          Authors  ...                                               keys
0       Boby R.A.  ...  [Accuracy,  Camera,  Computer vision,  Elasto-...
1        Ayyub M.  ...  [Clustering,  Connected car,  Intelligent Tran...
2      Dlamini G.  ...  [Embedded systems,  Energy consumption,  Energ...
3    Briskin E.S.  ...  [Anchor-cable propulsion device,  Distribution...
4  Bordyugov D.V.  ...      [Propulsion device,  Robotics,  Vibrationnan]

[5 rows x 3 columns]

In [138]:
# Test number of keys
len(dataframe['keys'][0])

23

In [139]:
dataframe['keys'] = dataframe.groupby(['Authors', 'Author(s) ID']).transform('sum')

In [140]:
# Test number of keys
len(dataframe['keys'][0])

117

In [141]:
dataframe.head()

          Authors  ...                                               keys
0       Boby R.A.  ...  [Accuracy,  Camera,  Computer vision,  Elasto-...
1        Ayyub M.  ...  [Clustering,  Connected car,  Intelligent Tran...
2      Dlamini G.  ...  [Embedded systems,  Energy consumption,  Energ...
3    Briskin E.S.  ...  [Anchor-cable propulsion device,  Distribution...
4  Bordyugov D.V.  ...      [Propulsion device,  Robotics,  Vibrationnan]

[5 rows x 3 columns]

In [142]:
# Remove Duplicates
dataframe = dataframe.drop_duplicates(subset=['Authors', 'Author(s) ID'])

In [143]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 483 entries, 0 to 869
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Authors       483 non-null    object
 1   Author(s) ID  483 non-null    object
 2   keys          483 non-null    object
dtypes: object(3)
memory usage: 15.1+ KB

In [125]:
# Check the missing values
dataframe.isna().sum()

Authors         0
Author(s) ID    0
keys            0
dtype: int64

In [126]:
dataframe.fillna(0,inplace=True)

In [ ]:
def countkey(lst, x):
    count = 0
    for ele in lst:
        if (ele == x):
            count = count + 1
    return count

def get_author_recommendation(key):
    n_authors_to_reccomend = 10
    keys_list = dataframe[dataframe['keys'].str.contains(key)]  
    if len(keys_list):        
        author_idx= keys_list.iloc[0]['Authors']

        recommend_frame = []

        return df
    else:
        return "No author found. Please check your input"